a {
  text-decoration: none;
  text-transform: uppercase;
}
.page__body {
  margin: 0;

  font-family: sans-serif;
}
.menu {
  list-style-type: none;
}

.navigation {
  margin: 25px;
  text-align: center;
  letter-spacing: 2.7px;
}
.menu-item {
  display: inline;
  padding: 70px;
}
.menu-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
}

.main-header {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  padding-top: 50px;
}
.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 40px 70px;
}
.link-text {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  padding-top: 65px;
}
.main-link {
  color: white;
  padding: 20px 50px;
  border-radius: 4px;
  background-color: #ff0000;
}
.footer-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 2.4px;
  padding-top: 80px;
  padding-right: 105px;
}
